<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'users/recommendation_form' %>
      </section>
      <section>
        <%= render 'users/popular_list_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Songs Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>EarBook</h1>
    <br><br><br>



        <div class="row">
          <div class="span6 offset2">
            <%= form_for(:session, url: sessions_path) do |f| %>

              <%= f.label :email %>
              <%= f.text_field :email %>

              <%= f.label :password %>
              <%= f.password_field :password %>
              <br><br><br>
              <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
            <% end %>

            <p>New user? <%= link_to "Sign up now!", signup_path %></p>
          </div>
        </div>

    
  </div>

  
<% end %> 